<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Well Information Technologies
    </title>
    <meta name="description" content="C3 Charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- base css -->
    <link rel="stylesheet" media="screen, print" href="~/Content/css/vendors.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/Content/css/app.bundle.css">

    <link id="mytheme" rel="stylesheet" href="~/Content/css/themes/cust-theme-3.css">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/img/favicon/favicon-32x32.png">
    <link rel="mask-icon" href="~/Content/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" media="screen, print" href="~/Content/css/statistics/c3/c3.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .social-part .fa {
            padding-right: 20px;
        }

        ul li a {
            margin-right: 20px;
        }
        .bg-dark {
            background-color: #398de0 !important;
        }
        li.nav-item {
            font-size: 15px;
            font-weight: 600;
        }
    </style>
</head>
<body class="mod-bg-1 header-function-fixed nav-function-fixed mod-nav-link">
    <nav class="navbar navbar-expand-sm navbar-light bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Home","Dashboard")"> Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown dmenu">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Distributor Management</a>
                    <div class="dropdown-menu sm-menu">
                        <a class="dropdown-item" href="@Url.Action("AddDistributor","Dashboard")">Add Distributor</a>
                        <a class="dropdown-item" href="@Url.Action("ViewDistributors","Dashboard")">View Distributors</a>
                    </div>
                </li>
                <li class="nav-item dropdown dmenu">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Payment Mode
                    </a>
                    <div class="dropdown-menu sm-menu">
                        <a class="dropdown-item" href="@Url.Action("AddPaymentMethod","Dashboard")">Add Payment Methods</a>
                        <a class="dropdown-item" href="@Url.Action("ViewAllPaymentMethods","Dashboard")">View Payment Method</a>
                    </div>
                </li>
                <li class="nav-item dropdown dmenu">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Supplier Management</a>
                    <div class="dropdown-menu sm-menu">
                        <a class="dropdown-item" href="@Url.Action("AddSupplier","Dashboard")">Add Supplier</a>
                        <a class="dropdown-item" href="@Url.Action("ViewSuppliers","Dashboard")">View Suppliers</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ProductProfilePage","Dashboard")">Product Management</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="@Url.Action("Login","Admin")" class="btn btn-danger btn-lg">
                        <span class="glyphicon glyphicon-log-out"></span> Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="page-inner">
        @RenderBody()
    </div>
    <script src="~/Content/js/vendors.bundle.js"></script>
    <script src="~/Content/js/app.bundle.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Content/js/statistics/d3/d3.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });

        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                //endDate: '+0d',
                autoclose: true
            });
        });
    </script>
</body>
</html>