<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Well Information Technologies
    </title>
    <meta name="description" content="C3 Charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- base css -->
    <link rel="stylesheet" media="screen, print" href="~/Content/css/vendors.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/Content/css/app.bundle.css">

    <link id="mytheme" rel="stylesheet" href="~/Content/css/themes/cust-theme-3.css">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/img/favicon/favicon-32x32.png">
    <link rel="mask-icon" href="~/Content/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" media="screen, print" href="~/Content/css/statistics/c3/c3.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>
<body class="mod-bg-1 header-function-fixed nav-function-fixed mod-nav-link">
    <!-- BEGIN Page Wrapper -->

    <div class="page-wrapper">
        <div class="page-inner">

            <!-- BEGIN Left Aside -->

            <aside class="page-sidebar">
                <div class="page-logo">
                    <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative">
                        <img src="~/Content/img/logo.png" alt="Client Company" aria-roledescription="logo">
                        <span class="page-logo-text mr-1">Neelkanth Enterprises</span>
                        <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
                    </a>
                </div>
                <!-- BEGIN PRIMARY NAVIGATION -->
                <nav id="js-primary-nav" class="primary-nav" role="navigation">
                    <div class="info-card">
                        <img src="~/Content/img/demo/avatars/avatar-admin.jpg" class="profile-image rounded-circle" alt="Cody Clickner">
                        <div class="info-card-text">
                            <a href="#" class="d-flex align-items-center text-white">
                                <span class="text-truncate text-truncate-sm d-inline-block">
                                    Raman Soni
                                </span>
                            </a>
                            <span class="d-inline-block text-truncate text-truncate-sm">Administrator</span>
                        </div>
                        <img src="~/Content/img/card-backgrounds/cover-2-lg.png" class="cover" alt="cover">
                    </div>
                    <ul id="js-nav-menu" class="nav-menu">
                        <li>
                            <a href="@Url.Action("Home","Dashboard")" title="Dashboard" data-filter-tags="dashboard">
                                <i class="fal fa-info-circle"></i>
                                <span class="nav-link-text" data-i18n="nav.dashboard">My Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="User Management" data-filter-tags="user management">
                                <i class="fal fa-user"></i>
                                <span class="nav-link-text" data-i18n="nav.user.management">Distributor Management</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="users.html" title="Manage Users" data-filter-tags="user management users">
                                        <span class="nav-link-text" data-i18n="nav.user.management.users">Add Distributor</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="staff.html" title="Manage Staff" data-filter-tags="user management staff">
                                        <span class="nav-link-text" data-i18n="nav.user.management.staff">View Staff</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="User Management" data-filter-tags="Payment Mode">
                                <i class="fal fa-user"></i>
                                <span class="nav-link-text" data-i18n="nav.user.management">Payment Mode</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="@Url.Action("AddPaymentMethod","Dashboard")" title="Manage Users" data-filter-tags="user management users">
                                        <span class="nav-link-text" data-i18n="nav.user.management.users">Add Payment Mode</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ViewAllPaymentMethods","Dashboard")" title="Manage Users" data-filter-tags="user management users">
                                        <span class="nav-link-text" data-i18n="nav.user.management.users">View All Payment Mode</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Well Information" data-filter-tags="well info">
                                <i class="fal fa-info-circle"></i>
                                <span class="nav-link-text" data-i18n="nav.well.info">Supplier Management</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="@Url.Action("AddSupplier","Dashboard")" title="All Wells" data-filter-tags="well info allwells">
                                        <span class="nav-link-text" data-i18n="nav.well.info.allwells">Add Suppliers</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ViewSuppliers","Dashboard")" title="Create Well" data-filter-tags="well info createwells">
                                        <span class="nav-link-text" data-i18n="nav.well.info.createwells">View Suppliers</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Well Information" data-filter-tags="well info">
                                <i class="fal fa-info-circle"></i>
                                <span class="nav-link-text" data-i18n="nav.well.info">Product Management</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="all-wells.html" title="All Wells" data-filter-tags="well info allwells">
                                        <span class="nav-link-text" data-i18n="nav.well.info.allwells">Add Products</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ViewAllProducts","Dashboard")" title="Create Well" data-filter-tags="well info createwells">
                                        <span class="nav-link-text" data-i18n="nav.well.info.createwells">View Products</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Well Information" data-filter-tags="well info">
                                <i class="fal fa-info-circle"></i>
                                <span class="nav-link-text" data-i18n="nav.well.info">Purchase Management</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="all-wells.html" title="All Wells" data-filter-tags="well info allwells">
                                        <span class="nav-link-text" data-i18n="nav.well.info.allwells">Add Purchase</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="create-well.html" title="Create Well" data-filter-tags="well info createwells">
                                        <span class="nav-link-text" data-i18n="nav.well.info.createwells">View Purchase</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Well Information" data-filter-tags="well info">
                                <i class="fal fa-info-circle"></i>
                                <span class="nav-link-text" data-i18n="nav.well.info">Sales Ledger Management</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="all-wells.html" title="All Wells" data-filter-tags="well info allwells">
                                        <span class="nav-link-text" data-i18n="nav.well.info.allwells">Manage Ledgers</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="filter-message js-filter-message bg-success-600"></div>
                </nav>
            </aside>

            <!-- END Left Aside -->
            <div class="page-content-wrapper">
                <!-- BEGIN Page Header -->
                <header class="page-header" role="banner">
                    <!-- we need this logo when user switches to nav-function-top -->
                    <div class="page-logo">
                        <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
                            <img src="~/Content/img/logo.png" alt="SmartAdmin WebApp" aria-roledescription="logo">
                            <span class="page-logo-text mr-1">SmartAdmin WebApp</span>
                            <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
                            <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
                        </a>
                    </div>
                    <!-- DOC: mobile button appears during mobile width -->
                    <div class="hidden-lg-up">
                        <a href="#" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
                            <i class="ni ni-menu"></i>
                        </a>
                    </div>
                    <div class="search">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" id="drop-w-action-right" placeholder="Search sales information ...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary waves-effect waves-themed" type="button" id="button-addon5" data-toggle="modal" data-target=".search-window">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ml-auto d-flex">
                        <!-- activate app search icon (mobile) -->
                        <div class="hidden-sm-up">
                            <a href="#" class="header-icon" data-action="toggle" data-class="mobile-search-on" data-focus="search-field" title="Search">
                                <i class="fal fa-search"></i>
                            </a>
                        </div>
                        <!-- app shortcuts -->
                        <div>
                            <a href="#" class="header-icon" data-toggle="dropdown" title="My Apps">
                                <i class="fal fa-cube"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-animated w-auto h-auto">
                                <div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center rounded-top">
                                    <h4 class="m-0 text-center color-white">
                                        Quick Shortcut
                                        <small class="mb-0 opacity-80">User Applications & Addons</small>
                                    </h4>
                                </div>
                                <div class="custom-scroll h-100">
                                    <ul class="app-list">
                                        <li>
                                            <a href="dashboard.html" class="app-list-item hover-white">
                                                <span class="icon-stack">
                                                    <i class="base-2 icon-stack-3x color-primary-600"></i>
                                                    <i class="base-3 icon-stack-2x color-primary-700"></i>
                                                    <i class="ni ni-settings icon-stack-1x text-white fs-lg"></i>
                                                </span>
                                                <span class="app-list-name">
                                                    Dashboard
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="users.html" class="app-list-item hover-white">
                                                <span class="icon-stack">
                                                    <i class="base-2 icon-stack-3x color-primary-400"></i>
                                                    <i class="base-10 text-white icon-stack-1x"></i>
                                                    <i class="ni md-profile color-primary-800 icon-stack-2x"></i>
                                                </span>
                                                <span class="app-list-name">
                                                    Clients
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="staff.html" class="app-list-item hover-white">
                                                <span class="icon-stack">
                                                    <i class="base-2 icon-stack-3x color-warning-400"></i>
                                                    <i class="base-10 text-white icon-stack-1x"></i>
                                                    <i class="ni md-profile color-warning-800 icon-stack-2x"></i>
                                                </span>
                                                <span class="app-list-name">
                                                    Staff
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="roles.html" class="app-list-item hover-white">
                                                <span class="icon-stack">
                                                    <i class="base-9 icon-stack-3x color-success-400"></i>
                                                    <i class="base-2 icon-stack-2x color-success-500"></i>
                                                    <i class="ni ni-shield icon-stack-1x text-white"></i>
                                                </span>
                                                <span class="app-list-name">
                                                    Roles
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="all-wells.html" class="app-list-item hover-white">
                                                <span class="icon-stack">
                                                    <i class="base-7 icon-stack-3x color-info-500"></i>
                                                    <i class="base-7 icon-stack-2x color-info-700"></i>
                                                    <i class="ni ni-graph icon-stack-1x text-white"></i>
                                                </span>
                                                <span class="app-list-name">
                                                    List Wells
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="create-well.html" class="app-list-item hover-white">
                                                <span class="icon-stack">
                                                    <i class="base-4 icon-stack-3x color-danger-500"></i>
                                                    <i class="base-4 icon-stack-1x color-danger-400"></i>
                                                    <i class="fal fa-keyboard icon-stack-1x text-white"></i>
                                                </span>
                                                <span class="app-list-name">
                                                    New Well
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- app notification -->
                        <div>
                            <a href="#" class="header-icon" data-toggle="dropdown" title="You got 11 notifications">
                                <i class="fal fa-bell"></i>
                                <span class="badge badge-icon">11</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-animated dropdown-xl">
                                <div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center rounded-top mb-2">
                                    <h4 class="m-0 text-center color-white">
                                        11 New
                                        <small class="mb-0 opacity-80">Notifications</small>
                                    </h4>
                                </div>
                                <ul class="nav nav-tabs nav-tabs-clean" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link px-4 fs-md js-waves-on fw-500" data-toggle="tab" href="#tab-events" data-i18n="drpdwn.events">Company Alerts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link px-4 fs-md js-waves-on fw-500" data-toggle="tab" href="#tab-messages" data-i18n="drpdwn.messages">System Alerts</a>
                                    </li>
                                </ul>
                                <div class="tab-content tab-notification">
                                    <div class="tab-pane active p-3 text-center">
                                        <h5 class="mt-4 pt-4 fw-500">
                                            <span class="d-block fa-3x pb-4 text-muted">
                                                <i class="ni ni-arrow-up text-gradient opacity-70"></i>
                                            </span> Select a tab above to activate
                                            <small class="mt-3 fs-b fw-400 text-muted">
                                                This blank page message helps protect your privacy, or you can show the first message here automatically through
                                                <a href="#">settings page</a>
                                            </small>
                                        </h5>
                                    </div>
                                    <div class="tab-pane" id="tab-events" role="tabpanel">
                                        <div class="custom-scroll h-100">
                                            <ul class="notification">
                                                <li class="unread">
                                                    <a href="#" class="d-flex align-items-center">
                                                        <span class="status mr-2">
                                                            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('~/Content/img/demo/avatars/avatar-c.png')"></span>
                                                        </span>
                                                        <span class="d-flex flex-column flex-1 ml-1">
                                                            <span class="name">Melissa Ayre <span class="badge badge-primary fw-n position-absolute pos-top pos-right mt-1">INBOX</span></span>
                                                            <span class="msg-a fs-sm">Re: New security codes</span>
                                                            <span class="msg-b fs-xs">Hello again and thanks for being part...</span>
                                                            <span class="fs-nano text-muted mt-1">56 seconds ago</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="unread">
                                                    <a href="#" class="d-flex align-items-center">
                                                        <span class="status mr-2">
                                                            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('~/Content/img/demo/avatars/avatar-a.png')"></span>
                                                        </span>
                                                        <span class="d-flex flex-column flex-1 ml-1">
                                                            <span class="name">Adison Lee</span>
                                                            <span class="msg-a fs-sm">Msed quia non numquam eius</span>
                                                            <span class="fs-nano text-muted mt-1">2 minutes ago</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="d-flex align-items-center">
                                                        <span class="status status-success mr-2">
                                                            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('~/Content/img/demo/avatars/avatar-b.png')"></span>
                                                        </span>
                                                        <span class="d-flex flex-column flex-1 ml-1">
                                                            <span class="name">Oliver Kopyuv</span>
                                                            <span class="msg-a fs-sm">Msed quia non numquam eius</span>
                                                            <span class="fs-nano text-muted mt-1">3 days ago</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="d-flex align-items-center">
                                                        <span class="status status-warning mr-2">
                                                            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('~/Content/img/demo/avatars/avatar-e.png')"></span>
                                                        </span>
                                                        <span class="d-flex flex-column flex-1 ml-1">
                                                            <span class="name">Cody Clickner</span>
                                                            <span class="msg-a fs-sm">Msed quia non numquam eius</span>
                                                            <span class="fs-nano text-muted mt-1">2 weeks ago</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="d-flex align-items-center">
                                                        <span class="status status-success mr-2">
                                                            <!-- <img src="img/demo/avatars/avatar-m.png" data-src="img/demo/avatars/avatar-h.png" class="profile-image rounded-circle" alt="Sarah McBrook" /> -->
                                                            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('~/Content/img/demo/avatars/avatar-h.png')"></span>
                                                        </span>
                                                        <span class="d-flex flex-column flex-1 ml-1">
                                                            <span class="name">Sarah McBrook</span>
                                                            <span class="msg-a fs-sm">Msed quia non numquam eius</span>
                                                            <span class="fs-nano text-muted mt-1">3 weeks ago</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="d-flex align-items-center">
                                                        <span class="status status-success mr-2">
                                                            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('~/Content/img/demo/avatars/avatar-m.png')"></span>
                                                        </span>
                                                        <span class="d-flex flex-column flex-1 ml-1">
                                                            <span class="name">Anothony Bezyeth</span>
                                                            <span class="msg-a fs-sm">Msed quia non numquam eius</span>
                                                            <span class="fs-nano text-muted mt-1">one month ago</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="d-flex align-items-center">
                                                        <span class="status status-danger mr-2">
                                                            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('~/Content/img/demo/avatars/avatar-j.png')"></span>
                                                        </span>
                                                        <span class="d-flex flex-column flex-1 ml-1">
                                                            <span class="name">Lisa Hatchensen</span>
                                                            <span class="msg-a fs-sm">Msed quia non numquam eius</span>
                                                            <span class="fs-nano text-muted mt-1">one year ago</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab-messages" role="tabpanel">
                                        <div class="custom-scroll h-100">
                                            <ul class="notification">
                                                <li class="unread">
                                                    <a href="#" class="d-flex align-items-center">
                                                        <span class="status mr-2">
                                                            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('~/Content/img/demo/avatars/avatar-c.png')"></span>
                                                        </span>
                                                        <span class="d-flex flex-column flex-1 ml-1">
                                                            <span class="name">Melissa Ayre <span class="badge badge-primary fw-n position-absolute pos-top pos-right mt-1">INBOX</span></span>
                                                            <span class="msg-a fs-sm">Re: New security codes</span>
                                                            <span class="msg-b fs-xs">Hello again and thanks for being part...</span>
                                                            <span class="fs-nano text-muted mt-1">56 seconds ago</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="unread">
                                                    <a href="#" class="d-flex align-items-center">
                                                        <span class="status mr-2">
                                                            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('~/Content/img/demo/avatars/avatar-a.png')"></span>
                                                        </span>
                                                        <span class="d-flex flex-column flex-1 ml-1">
                                                            <span class="name">Adison Lee</span>
                                                            <span class="msg-a fs-sm">Msed quia non numquam eius</span>
                                                            <span class="fs-nano text-muted mt-1">2 minutes ago</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="d-flex align-items-center">
                                                        <span class="status status-success mr-2">
                                                            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('~/Content/img/demo/avatars/avatar-b.png')"></span>
                                                        </span>
                                                        <span class="d-flex flex-column flex-1 ml-1">
                                                            <span class="name">Oliver Kopyuv</span>
                                                            <span class="msg-a fs-sm">Msed quia non numquam eius</span>
                                                            <span class="fs-nano text-muted mt-1">3 days ago</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="d-flex align-items-center">
                                                        <span class="status status-warning mr-2">
                                                            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('~/Content/img/demo/avatars/avatar-e.png')"></span>
                                                        </span>
                                                        <span class="d-flex flex-column flex-1 ml-1">
                                                            <span class="name">Cody Clickner</span>
                                                            <span class="msg-a fs-sm">Msed quia non numquam eius</span>
                                                            <span class="fs-nano text-muted mt-1">2 weeks ago</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="d-flex align-items-center">
                                                        <span class="status status-success mr-2">
                                                            <!-- <img src="img/demo/avatars/avatar-m.png" data-src="img/demo/avatars/avatar-h.png" class="profile-image rounded-circle" alt="Sarah McBrook" /> -->
                                                            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('~/Content/img/demo/avatars/avatar-h.png')"></span>
                                                        </span>
                                                        <span class="d-flex flex-column flex-1 ml-1">
                                                            <span class="name">Sarah McBrook</span>
                                                            <span class="msg-a fs-sm">Msed quia non numquam eius</span>
                                                            <span class="fs-nano text-muted mt-1">3 weeks ago</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="d-flex align-items-center">
                                                        <span class="status status-success mr-2">
                                                            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('~/Content/img/demo/avatars/avatar-m.png')"></span>
                                                        </span>
                                                        <span class="d-flex flex-column flex-1 ml-1">
                                                            <span class="name">Anothony Bezyeth</span>
                                                            <span class="msg-a fs-sm">Msed quia non numquam eius</span>
                                                            <span class="fs-nano text-muted mt-1">one month ago</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="d-flex align-items-center">
                                                        <span class="status status-danger mr-2">
                                                            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('~/Content/img/demo/avatars/avatar-j.png')"></span>
                                                        </span>
                                                        <span class="d-flex flex-column flex-1 ml-1">
                                                            <span class="name">Lisa Hatchensen</span>
                                                            <span class="msg-a fs-sm">Msed quia non numquam eius</span>
                                                            <span class="fs-nano text-muted mt-1">one year ago</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="py-2 px-3 bg-faded d-block rounded-bottom text-right border-faded border-bottom-0 border-right-0 border-left-0">
                                    <a href="#" class="fs-xs fw-500 ml-auto">mark all read</a>
                                </div>
                            </div>
                        </div>
                        <!-- app user menu -->
                        <div>
                            <a href="#" data-toggle="dropdown" title="Cody Clickner" class="header-icon d-flex align-items-center justify-content-center ml-2">
                                <img src="~/Content/img/demo/avatars/avatar-admin.png" class="profile-image rounded-circle" alt="Cody Clickner">
                                <!-- you can also add username next to the avatar with the codes below:
                                <span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">Me</span>
                                <i class="ni ni-chevron-down hidden-xs-down"></i> -->
                            </a>
                            <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
                                <div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
                                    <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
                                        <span class="mr-2">
                                            <img src="~/Content/img/demo/avatars/avatar-admin.png" class="rounded-circle profile-image" alt="Cody Clickner">
                                        </span>
                                        <div class="info-card-text">
                                            <div class="fs-lg text-truncate text-truncate-lg">Cody Clickner</div>
                                            <span class="text-truncate text-truncate-md opacity-80">Administrator</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider m-0"></div>
                                <a href="profile.html" class="dropdown-item">
                                    <span data-i18n="drpdwn.edit.profile">Edit Profile</span>
                                </a>
                                <div class="dropdown-divider m-0"></div>
                                <a href="#" class="dropdown-item" data-action="app-fullscreen">
                                    <span data-i18n="drpdwn.fullscreen">Fullscreen</span>
                                    <i class="float-right text-muted fw-n">F11</i>
                                </a>
                                <a href="#" class="dropdown-item" data-action="app-print">
                                    <span data-i18n="drpdwn.print">Print</span>
                                    <i class="float-right text-muted fw-n">Ctrl + P</i>
                                </a>
                                <div class="dropdown-multilevel dropdown-multilevel-left">
                                    <div class="dropdown-item">
                                        Language
                                    </div>
                                    <div class="dropdown-menu">
                                        <a href="#?lang=fr" class="dropdown-item" data-action="lang" data-lang="fr">Français</a>
                                        <a href="#?lang=en" class="dropdown-item active" data-action="lang" data-lang="en">English (US)</a>
                                        <a href="#?lang=es" class="dropdown-item" data-action="lang" data-lang="es">Español</a>
                                        <a href="#?lang=ru" class="dropdown-item" data-action="lang" data-lang="ru">Русский язык</a>
                                        <a href="#?lang=jp" class="dropdown-item" data-action="lang" data-lang="jp">日本語</a>
                                        <a href="#?lang=ch" class="dropdown-item" data-action="lang" data-lang="ch">中文</a>
                                    </div>
                                </div>
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item fw-500 pt-3 pb-3" href="index.html">
                                    <span data-i18n="drpdwn.page-logout">Logout</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- END Page Header -->
                <!-- BEGIN Page Content -->
                <!-- the #js-page-content id is needed for some plugins to initialize -->
                <main id="js-page-content" role="main" class="page-content">
                    @*<div class="alert alert-primary alert-dismissible fade show mb-4" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                            <div class="d-flex align-items-center">
                                <div class="alert-icon width-2">
                                    <span class="icon-stack" style="font-size: 22px;">
                                        <i class="base-2 icon-stack-3x color-primary-400"></i>
                                        <i class="base-10 text-white icon-stack-1x"></i>
                                        <i class="ni md-profile color-primary-800 icon-stack-2x"></i>
                                    </span>
                                </div>
                                <div class="flex-1 pr-5 text-justify">
                                    <strong>Hi, Admin!</strong>
                                    You have a total of <strong>7</strong> products available in our system, <strong>3</strong> wells which have no job selected and <strong>3</strong> jobs currently active. You may update this information within the <a href="all-wells.html"><u>Manage Wells</u></a> section.
                                </div>
                            </div>
                        </div>*@
                    @RenderBody()
                </main>
                <!-- this overlay is activated only when mobile menu is triggered -->
                <!-- BEGIN Page Footer -->
                <footer class="page-footer" role="contentinfo">
                    <div class="d-flex align-items-center flex-1 text-muted">
                        <span class="hidden-md-down fw-700">&copy; 2020 Neelkanth Enterprises</span>
                    </div>
                    <div>
                        <ul class="list-table m-0">
                            <li><a href="#" class="text-secondary fw-700">Documentation</a></li>
                            <li class="pl-3"><a href="#" class="text-secondary fw-700">Support</a></li>
                            <li class="pl-3 fs-xl"><a href="#" class="text-secondary" target="_blank"><i class="fal fa-question-circle" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </footer>
                <!-- END Page Footer -->
            </div>
        </div>
    </div>

    <script src="~/Content/js/vendors.bundle.js"></script>
    <script src="~/Content/js/app.bundle.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Content/js/statistics/d3/d3.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });

        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'yyyy/mm/dd',
                //endDate: '+0d',
                autoclose: true
            });
        });
    </script>
</body>
</html>