@model List<Pharmacy.ViewModels.ListOfInvoice>
@{
    ViewBag.Title = "GetInvoiceDetailsBySupplierId";
    var InvoiceId = TempData["InvoiceId"];
    double TotalAmount = Convert.ToDouble(TempData["TotalAmount"]);
    var DateofPurchase = Convert.ToDateTime(TempData["DateOfPurchase"]);
    var supplierName = TempData["SupplierName"];
    var address = TempData["Address"];
    var phoneNumber = TempData["Phonenumber"];
    var Dlnumber = TempData["DlNumber"];
    var GstIn = TempData["GSTIN"];
    double? totalAmount = 0;
    int? totalItems = 0;
    int? totalQty = 0;
}
<style>
    h4 {
        margin-left: 400px;
    }
</style>
<div class="container">
    <div class="col-xl-12">
        <div id="panel-4" class="panel">
            <div class="panel-hdr">
                <h4><b>GST INVOICE</b></h4>
                <div class="panel-toolbar">
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <h5>@supplierName</h5>
                    <h5>@address</h5>
                    <h5>@phoneNumber </h5>
                    <h6>DL.NO: @Dlnumber</h6>
                    <h6>GSTIN: @GstIn</h6>
                    <div class="frame-wrap w-100">
                        <div class="accordion" id="js_demo_accordion-5">
                            <div class="card">
                                <div class="card-header">
                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-5a" aria-expanded="false">
                                        <span>Invoice Id:  @InvoiceId | </span> <span> &nbsp; Date Of Purchase: @DateofPurchase.ToShortDateString() | </span><span> &nbsp; Total Bill Amount: @Math.Round(Convert.ToDouble(@TotalAmount),2)</span>
                                        <span class="ml-auto">
                                            <span class="collapsed-reveal">
                                                <i class="fal fa-minus-circle text-danger fs-xl" data-toggle="tooltip" data-placement="left" data-original-title="Collapse"></i>
                                            </span>
                                            <span class="collapsed-hidden">
                                                <i class="fal fa-plus-circle text-success fs-xl" data-toggle="tooltip" data-placement="left" data-original-title="Collapse"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div id="js_demo_accordion-5a" class="collapse" data-parent="#js_demo_accordion-5" style="">
                                    <div class="card-body">
                                        <div class="frame-wrap">
                                            <table class="table table-striped m-0">
                                                <thead>
                                                    <tr>
                                                        <th>Product Name</th>
                                                        <th>HSN</th>
                                                        <th>Pack</th>
                                                        <th>Batch</th>
                                                        <th>Expiry Date</th>
                                                        <th>Quantity</th>
                                                        <th>Free</th>
                                                        <th>M.R.P</th>
                                                        <th>Rate</th>
                                                        <th>CGST</th>
                                                        <th>UTGST</th>
                                                        <th>IGST</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                    <tr>
                                                        <td>@item.ProductName</td>
                                                        <td>@item.HSNNumber</td>
                                                        <td>@item.Pack</td>
                                                        <td>@item.Batch</td>
                                                        <td>@item.ExpiryDate</td>
                                                        <td>@item.Quantity</td>
                                                        <td>@item.Free</td>
                                                        <td>@item.MRP</td>
                                                        <td>@Math.Round(Convert.ToDouble(@item.Rate),2)</td>
                                                        <td>@item.CGstPercent</td>
                                                        <td>@item.UTGST</td>
                                                        <td>@item.IGST</td>
                                                        <td>@item.TotalAmount</td>
                                                    </tr>
                                                        totalAmount = item.TotalAmount + totalAmount;
                                                        totalQty = item.Quantity + totalQty;
                                                    }

                                                </tbody>
                                                <tfoot>

                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Total GST Amount</th>
                                            <th>Total Amount</th>
                                            <th>Total Items</th>
                                            <th>Total Qty.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var gstAmount = @Math.Round(Convert.ToDouble(TotalAmount - totalAmount),2);
                                            totalItems = Model.Count();
                                          }
                                    <td>@gstAmount</td>
                                    <td>@totalAmount</td>
                                    <td>@totalItems</td>
                                    <td>@totalQty</td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
