@model List<Pharmacy.ViewModels.SupplierViewModel>
@{
    ViewBag.Title = "ViewSuppliers";
}
    <style>
        div#c_1 {
            width: 362px;
        }
        span.text-truncate.text-truncate-xl {
            width: 300px;
        }
        div#js-contacts {
            margin: 70px 0px 0px 115px;
        }
    </style>
    <div class="row" id="js-contacts">
        @foreach (var item in Model)
        {
            <div class="col-xl-6">
                <div id="c_1" class="card border shadow-0 mb-g shadow-sm-hover" data-filter-tags="oliver kopyov">
                    <div class="card-body border-faded border-top-0 border-left-0 border-right-0 rounded-top">
                        <div class="d-flex flex-row align-items-center">
                            <div class="info-card-text flex-1">
                                <a href="javascript:void(0);" class="fs-xl text-truncate text-truncate-lg text-info" data-toggle="dropdown" aria-expanded="false">
                                    @item.SupplierName
                                    <i class="fal fa-angle-down d-inline-block ml-1 fs-md"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="@Url.Action("ManageSupplierLedger","Dashboard", new { id = item.id})">Manage Ledger</a>
                                    <a class="dropdown-item" href="@Url.Action("ViewLedgerBySupplierId","Dashboard", new { id = item.id})">View Ledger</a>
                                    <a class="dropdown-item" href="@Url.Action("GetPurchaseBySupplierId","Dashboard", new { id = item.id})">View Purchase</a>
                                    <a class="dropdown-item" href="@Url.Action("AddProductPurchase","Dashboard", new { id = item.id})">Make Purchase</a>
                                    <a class="dropdown-item" href="@Url.Action("EditSupplier","Dashboard", new { id= item.id})">Edit Supplier</a>
                                    <a class="dropdown-item" href="@Url.Action("DeleteSupplier","Dashboard", new { id= item.id})">Delete Supplier</a>
                                </div>
                                <span class="text-truncate text-truncate-xl">@item.SupplierGSTNumber <br /> @item.SupplierDLNumber <br /> @item.SupplierCINNumber</span>
                            </div>
                            <button class="js-expand-btn btn btn-sm btn-default d-none" data-toggle="collapse" data-target="#c_1 > .card-body + .card-body" aria-expanded="false">
                                <span class="collapsed-hidden">+</span>
                                <span class="collapsed-reveal">-</span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0 collapse show">
                        <div class="p-3">
                            <a href="tel:+12125551212" class="mt-1 d-block fs-sm fw-400 text-dark">
                                O: @item.SupplierPhoneNo
                            </a>
                            <a href="tel:+13174562564" class="mt-1 d-block fs-sm fw-400 text-dark">
                                Pan: @item.SupplierPanNumber
                            </a>
                            <a href="#" class="mt-1 d-block fs-sm fw-400 text-dark">
                                <i class="fal fa-address-card mr-1"></i> @item.SupplierEmail
                            </a>
                            <address class="fs-sm fw-400 mt-4 text-muted">
                                <i class="fas fa-map-pin mr-2"></i> @item.SupplierAddress
                            </address>
                        </div>
                    </div>
                </div>
            </div>

        }

        @if (Model.Count <= 0)
        {
            <div class="container">
                <h2>
                    No Suppliers Added Yet. Please Add Suppliers To Make Purchase
                </h2>
            </div>
        }

    </div>

