@model List<Pharmacy.Models.getAllSales_Result>
@{
    ViewBag.Title = "ViewAllSales";
}

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Product Name</th>
            <th>Date Of Purchase</th>
            <th>Batch Number</th>
            <th>MRP</th>
            @*<th>Cost Price</th>*@
            <th>Expiry Date</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerName</td>
                <td>@item.ProductName</td>
                <td>@item.DateOfPurchase</td>
                <td>@item.BatchNumber</td>
                <td>@Math.Round(Convert.ToDouble(@item.Rate),2)</td>
                @*<td>@item.CostPrice</td>*@
                <td>@item.ExpiryDate</td>
                <td>@item.Quantity</td>
            </tr>
        }

    </tbody>
</table>

